.footer-container {
  background-color: #283891;
  padding-top: 0.1rem;
  padding-bottom: 2rem;
}

.footer-col {
  margin-top: 1rem;
  .footer-title {
    font-size: 1.5rem;
    color: white;
    border-bottom: 5px solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  div,
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.useful-links {
  display: grid;
  a {
    padding-bottom: 1vw;
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 600px) {
  .useful-links > a {
    font-size: 3.25vw;
  }
}
