.image-banner {
  float: right;
}

.carousel-caption {
  h4 {
    color: black;
  }
  h1,
  h2 {
    color: #283891;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 900;
  }
  h2 {
    font-weight: 100;
  }
}

@media screen and (max-width: 600px) {
  .carousel-caption {
    top: 85vw;
    h2 {
      font-size: 4.25vw;
    }
    h4 {
      line-height: 5vw;
      font-size: 4.12vw;
    }
  }

  .carousel-home {
    padding-top: 13vw;
    height: 157.5vw;
    .carousel-inner {
      height: 100%;
    }
  }
  .image-banner {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 601px) {
  .banner-content {
    width: 39.5vw;
  }
  .carousel-caption {
    top: 12.5vw;
    h1 {
      font-size: 4vw;
    }
    h2 {
      font-size: 2vw;
    }
  }
  h4 {
    line-height: 2.5rem;
    font-size: 1.5vw;
  }
  .carousel-home {
    padding-top: 4.5vw;
  }
  .image-banner {
    width: 90%;
    height: 47vw;
  }
}

.sep-1 {
  border: 3px solid #283891;
}
