.why {
  .container:nth-of-type(3) {
    .row {
      .col {
        background-color: white;
        line-height: 2rem;
        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .why {
    .container:nth-of-type(3) {
      .row {
        .col {
          margin: 0 0rem 1rem 0rem;
          padding: 1rem 1rem 1rem 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .why {
    .container:nth-child(2) {
      width: 85vw;
    }
    .container:nth-of-type(3) {
      .row {
        .col {
          margin: 0 1rem 1rem 1rem;
          padding: 1rem 1rem 1rem 1rem;
        }
      }
    }
  }
}
