@import "~bootstrap/scss/bootstrap";

.App {
  text-align: left;
}

.heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vw;
  padding-bottom: 1.25vw;
  span {
    color: #393191;
  }
}

.form-control {
  border-radius: 2rem;
}

label {
  color: #393191;
  font-weight: 900;
}

.gray-container {
  background-color: #e5e5e5;
  padding-bottom: 3rem;
}

h3 {
  margin: auto;
  padding-bottom: 0.5vw;
  color: #393191;
  border-bottom: 4px solid #393191;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

.justify-text-center {
  text-align: justify;
  text-justify: distribute;
  text-align-last: center;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 4vw;
    line-height: 7.5vw;
  }
  h2 {
    font-size: 4.5vw;
  }
  h1 {
    font-size: 7vw;
    text-transform: uppercase;
  }
  h3 {
    font-size: 5vw !important;
  }
}

@media screen and (min-width: 601px) {
  p {
    font-size: 1.1vw;
    line-height: 2.25vw;
  }
  h2 {
    font-size: 1.65vw;
  }
  h1 {
    font-size: 3.5vw;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.5vw !important;
  }
}
